+b.SECTION.attention.section
	.container
		+e.content
			p Не хочу тебя обидеть или подтолкнуть к мысли, что всё хуже некуда. Уверен, что ты не сидишь на месте, ставишь цели и идешь к ним и у тебя есть пару достойных мужчин в окружении
		+e.H3.title.title-lg Но ведь хочется большего, правда?...