+b.SECTION.attention._change
	.container
		+e.header
			h3.section__title.text-uppercase Это будут 30 дней, после которых
				br
				strong ты не узнаешь себя
			p (в хорошем смысле слова)
		+e.button-outer
			+b.BUTTON.btn._lg._brand-1.effect._bounce-top(data-action="modal" data-open="#modal-form") Участвовать