+b.SECTION.curator.section
	.container
		.section__header
			h3.section__title С тобой будут работать профессиональные кураторы и лично
				strong Марк Бартон
		+e.content.row
			+e.item.col-12.col-sm-4.col-lg-3
				+e.item-header
					+e.item-image(src="img/cur-1.jpg")
				+e.P.item-title Елена Божук
				+e.item-content
					p Соавтор марафона, к.м.н. психолог, телевизионный эксперт
			+e.item.col-12.col-sm-4.col-lg-3
				+e.item-header
					+e.item-image(src="img/cur-2.jpg")
				+e.P.item-title Юлия Осмачкина
				+e.item-content
					p Психолог, куратор марафона
			+e.item.col-12.col-sm-4.col-lg-3
				+e.item-header
					+e.item-image(src="img/cur-3.jpg")
				+e.P.item-title Ольга Хохлова
				+e.item-content
					p Семейный психолог, психотерапевт, телеведущая