+b.SECTION.features.section
	.container
		+e.part._1
			.section__header
				h3.section__title Особенности курса “Я - Женщина!”
			+e.row.row
				+e.item.col-12.col-sm-6
					+e.P.item-title Упор на практику
					+e.content
						p Сейчас модно говорить “мы даем практику, а не теорию”. Но в нашем случае это действительно так. Каждый навык, убеждение или модель поведения, которую ты получаешь на курсе, ты тут же отрабатываешь и она остается с тобой на всю жизнь.
				+e.item.col-12.col-sm-6
					+e.P.item-title Сильное окружение
					+e.content
						p Хоть курс и идет в онлайне, это не значит что ты не будешь чувствовать поддержку единомышленниц, тренеров и кураторов. Среда, в которую ты попадешь, не оставит ни единого шанса НЕ развиваться и достигать качественно новых результатов.
		+e.part._2
			.section__header
				h3.section__title Ты также получишь:
			+e.UL.list.list._line
				li Максимум обратной связи и личной работы лично от тренера курса - Марка Бартона
				li Поддерживающие вебинары в формате “Вопрос-Ответ”
				li Бонусный набор мастер-классов и психологических практикумов Марка Бартона: "Психология судьбы", "Дочки матери. Проработка родительских отношений”, "Он и она. Любить правильно”, "Мотивируй и заряжай", "Я такая одна" и PROLOVE
				li Ежедневные домашние задания направленные на проработку всех сфер жизни
				li Поддержку персонального куратора при возникновении вопросов с заданиями
				li Благодаря обилию практики и доступной подаче, первые изменения к лучшему ты почувствуешь сразу после занятия
		+e.footer.text-center
			+b.BUTTON.btn._lg._brand-1.effect._bounce-top(data-action="modal" data-open="#modal-form") Записаться на курс
			+e.footer-text
				p Параллельно с тобой курс будут проходить около 100 девушек, с которыми ты общаешься в закрытой группе, видишь их результаты и вдохновляешься. Это окружение в котором неизбежен рост и покорение новых вершин!