+b.SECTION.format.section
	.container.section__header
		h3.section__title Формат
	.container
		+e.content
			.row
				+e.item.col-12.col-sm-8.col-lg-6
					+e.P.item-title Занятия
					+e.item-content
						p Ключевое в процессе обучения на курсе - это 30 ежедневных заданий. Они небольшие и будут занимать у тебя до 30-40 минут в день. Но результат дадут колоссальный.
			+e.row._end.row
				+e.item.col-12.col-sm-5.col-md-4
					+e.item-image(src="img/format-image.jpg")
				+e.item._offset.col-12.col-sm-5.col-md-5
					+e.P.item-title Обратная связь
						+e.item-content
							p После каждого задания ты выполняешь упражнение и пишешь о результатах своему куратору. Он проверяет, корректирует и помогает, если что-то не получается.
		+e.steps
			+e.P.steps-title Кроме этого, у тебя будет:
			.row
				+e.step.col-12.col-sm-4
					+e.P.step-number 01
					+e.step-content
						p Х вебинаров “Вопрос-Ответ” 
							br
							| с Марком Бартоном
				+e.step.col-12.col-sm-4
					+e.P.step-number 02
					+e.step-content
						p Чат для общения, мотивации
							br
							| и поддержки
				+e.step.col-12.col-sm-4
					+e.P.step-number 03
					+e.step-content
						p Бонусные мастер-классы в
							br
							| записи