+b.SECTION.greeting
	.container
		+e.H1.title
			+e.SPAN.title-first Я - 
			+e.SPAN.title-last Женщина!
			+e.SPAN.title-small Поток 4.0
		+e.H2.subtitle Подними свою 
			+e.SPAN.subtitle-highlight жизнь 
			| на
			br
			| качественно 
			+e.SPAN.subtitle-highlight новый уровень 
			| в 5
			br
			| ключевых сферах
		+e.P.warning Без эзотерики, медитаций и самопрограммирования.
		+e.P.highlight Только практика и реальные 
			br
			| изменения в жизни!
		+e.button-outer
			+b.BUTTON.btn(data-action="modal" data-open="#modal-form") Записаться на курс
	+e.bg
		img(src="img/greeting-bg.jpg" alt="")