+b.SECTION.greeting
	.container
		.row
			+e.col.col-12.col-sm-7.col-md-10
				+e.P.first-letter Я-
				+e.content
					+e.H1.title
						+e.SPAN.title-first Женщина!
						+e.SPAN.title-last Поток 4.0
					+e.H2.subtitle Как стать 
						+e.SPAN.subtitle-highlight уверенней  
						|  в себе, 
						br
						| избавиться от страхов, обид 
						br
						| и обрести 
						+e.SPAN.subtitle-highlight внутреннюю гармонию?
					+e.P.highlight Комплексная программа по формированию
						br
						| личности женщины, созданию счастливых 
						br
						| отношений и крепкой семьи!
					+e.course
						+e.course-header
							+e.IMG.course-header-icon(src="img/calendar.png")
							+e.SPAN.course-header-title 30-дневный онлайн-курс
						+e.course-content
							+e.course-content-body
								+e.course-content-body-item._divider
									+e.P.course-content-body-item-title 23
									+e.P.course-content-body-item-subtitle июля
								+e.course-content-body-item
									+e.P.course-content-body-item-title 22
									+e.P.course-content-body-item-subtitle августа
					+e.button-outer
						+b.BUTTON.btn._lg._brand-1.effect._bounce-top(data-action="modal" data-open="#modal-form") Записаться на курс
	+e.bg
		img(src="img/greeting-bg-1.jpg" alt="Я-Женщина!")