-
	const list = [
		{
			image: "img/improve-1.jpg",
			title: "Личная жизнь",
			list: [
				"Разберёшься в себе. Поймёшь, чего ты хочешь от отношений",
				"Научишься привлекать достойных мужчин",
				"Поймешь как вернуть страсть в отношения",
				"Научишься флиртовать и станешь более женственной",
				"Перестанешь быть “жертвой” в отношениях"
			]
		},
		{
			image: "img/improve-2.jpg",
			title: "Личностный рост",
			list: [
				"Станешь примером и вдохновительницей для других",
				"Перестанешь зависеть от мнения других людей",
				"Перестанешь стесняться своей сексуальности",
				"Станешь более уверенной в себе, продуктивной",
				"Получишь мощный толчок к качественным переменам в жизни"
			]
		},
		{
			image: "img/improve-6.jpg",
			title: "Целостность/согласие с собой",
			list: [
				"Разберешься в себе, примешь и полюбить себя",
				"Станешь более уверенной и решительной",
				"Избавиться от обид и негативных программ прошлого",
				"Проработаешь комплексы, страхи и негативное мышление"
			]
		},
		
		{
			image: "img/improve-4.jpg",
			title: "Карьера/бизнес",
			list: [
				"Найдешь занятие, которое сильно вдохновляет и приносит хороший доход",
				"Перестанешь “упахиваться” до 7-го пота и станешь уделять больше времени себе",
				"Получишь новые бизнес-цели и понимание, как их достичь",
				"Получишь повышение или разовьешь свое дело",
				"Станешь меньше работать и больше зарабатывать"
			]
		},
		{
			image: "img/improve-5.jpg",
			title: "Окружение",
			list: [
				"Наладишь отношения с семьей, коллегами и друзьями",
				"Окружишь себя сильными мужчинами",
				"Избавишься от “токсичных” людей в твоем окружении",
				"Познакомишься с десятками участниц марафона и заручишься их поддержкой",
				"Научишься легко и в удовольствие знакомиться с людьми, как  мужчинами, так и женщинами"
			]
		},
		{
			image: "img/improve-3.jpg",
			title: "Досуг/lifestyle",
			list: [
				"Научишься правильно отдыхать и заряжаться энергией на 4 месяцы вперед",
				"Найдешь несколько любимых занятий, хобби",
				"Научишься радоваться мелочам и быть всегда счастливой",
				"Организуешь свое время так, чтобы каждый день был ярким и проживался в кайф",
				"Станешь более “спонтанной”, чаще начнешь путешествовать"
			]
		}
	];
+b.SECTION.improve.section
	.container
		.section__header
			h3.section__title Как улучшатся 5 сфер твоей жизни после курса
		.row
			for item in list
				+e.item(class="col-12 col-sm-6")
					+e.IMG.item-image(src=item.image)
					+e.item-content
						+e.P.item-title=item.title
						+e.UL.item-list.list
							for text in item.list
								li=text