+b.SECTION.intro
	.container
		.row
			.col-12.col-sm-5.col-md-4
				+e.image
					img(src="img/intro-image.jpg")
				+e.who
					p Марк Бартон, психолог, телеведущий и автор курса “Я - Женщина!”
			+e.content.col-12.col-sm-7.col-md-9
				+e.quote
					+e.P.quote-title Я искренне убежден, что жизнь могут изменить только конкретные действия.
					+e.quote-content
						p А не “залипание” в сериалы круглыми сутками, чтение якобы полезных статей или хождение по тренингам по раскрытию чакр и ощущению себя Богиней…
						p Всё это дает только иллюзию развития. 