+b.SECTION.review#section-reviews
	.container
		.section__header
			h3.section__title Отзывы
		.owl-carousel#review-slider
			+e.item
				+e.item-header
					+e.item-header-image-outer
						img(src="img/rev-viranovskaya.jpg")
					+e.item-header-info
						+e.P.item-name Марина Винановская
						+e.P.item-info Отзыв из соц.сети ВКонтакте
				+e.item-content._hidden
					p Марк, здравствуйте! Подходит к концу  второй поток курса и я рада, стала вашей первой выпускницей!!! Я уже около года участвовала в разных марафонах(платных и бесплатных) и могу из личного опыта сказать, что таких профессионалов как вы - нет! Курс №1 + №2 - это просто супер! Такой объемный материал, столько практических занятий, такая мощная поддержка + еще питание + приобщение к физ.культуре, вебинары - в живую в реальном диалоге, просто на 5+!!! По себе могу сказать: “я сама не ожидала таких результатов, я прежняя и я настоящая - это две разных женщины”!
					p Оказывается я раньше не знала себя настоящую!!! После курса у меня изменилась мироощущение, я не побоялась сделать выбор в пользу “будущего” и жизнь стала обретать яркие краски! Марк, Елена Божук, Юлия Осмакина - вы команда профессионалов! Ребята, низкий вам поклон за ваш труд!!! Всегда благодарна тем людям, которые помогли мне в трудную минут! Раньше моя жизнь была похожа на туннель, где нет выхода, сейчас много выходов и я сама решаю, куда мне идти!!!
					p Я живу наполненной жизнью, люблю себя и получаю удовольствие от мировосприятия! Я буду идти дальше с вами, т.к чувствую мощную поддержку во всем! Спасибо вам!!!
				+e.item-footer
					+e.BUTTON.item-link(data-close="Скрыть" data-open="Читать подробнее") Читать подробнее
			+e.item
				+e.item-header
					+e.item-header-image-outer
						img(src="img/rev-schevoda.jpg")
					+e.item-header-info
						+e.P.item-name Алена Шведова
						+e.P.item-info Отзыв из соц.сети ВКонтакте
				+e.item-content._hidden
					p Хорошее дело делаете!!! Вы меня окрылили!!! У меня где то было подсознательно, где то очень глубоко сидело, что я должна смело выбирать мужчин и не боятся осуждений со стороны, что я встречаюсь то с одним то с другим(( У меня на этом этапе все останавливалось, потому что мне говорили надо брать первого попавшегося, тебе же уже столько лет ты больше никого не встретишь, мужчин так мало, их уже разобрали, остались одни неудачники и так далее. Только попался кандидат я полностью погружалась в него(( 
					p Мне кажется я даже заставляла найти в нем что-то хорошее, полюбить это и жить с этим!!! Я его слепила из того что было, а потом что было - то и полюбила(((
					p Теперь точно все пойдет по-другому!! У меня появилось чувство свободы, легкости и теперь я буду думать сама и принимать решение сама!!! И не боятся, что кто скажет обо мне, что я что-то делаю не так!!! Я имею право на выбор! Как же это здорово!!! Спасибо большое всей команде и конечно Марк, Вам!!!
				+e.item-footer
					+e.BUTTON.item-link(data-close="Скрыть" data-open="Читать подробнее") Читать подробнее
			+e.item
				+e.item-header
					+e.item-header-image-outer
						img(src="img/rev-shamrova.jpg")
					+e.item-header-info
						+e.P.item-name Александра Шамрова
						+e.P.item-info Отзыв из соц.сети ВКонтакте
				+e.item-content
					p Высший пилотаж! Я в восторге))) было безумно интересно! Я в шоке с того, я прошла через все, что Марк описывал про ненормальные отношения, я теперь вижу свои ошибки, понимаю их! И я счастлива, так сейчас у меня уже правильные, осознанные отношения, и сейчас мы с молодым человеком как раз находимся на стадии душевной близости, безусловного принятия. И сейчас, слушая то, как должны выстраиваться отношения, я прям ликую, что мы на верном пути))) Спасибо огромное!!! Еще не раз пересмотрю этот курс, очень интересно, информативно и, самое главное, абсолютная правда без всякой ерунды.
			+e.item
				+e.item-header
					+e.item-header-image-outer
						img(src="img/rev-oves.jpg")
					+e.item-header-info
						+e.P.item-name Марина Овсянникова
						+e.P.item-info Отзыв из соц.сети ВКонтакте
				+e.item-content
					p Спасибо огромное!!! Я даже не ожидала получить столько ценной информации.Я поняла почему я не замужем в 36. Мне хватило ума(Господь отвел) не вляпаться в деструктивные отношения, хотя предпосылки разумеется были. Но хватило любви к себе… 
					p Я рада, что начала меняться до онлайн курса, а с вами более осознанно и правильно!!!

			+e.item
				+e.item-header
					+e.item-header-image-outer
						img(src="img/rev-serkova.jpg")
					+e.item-header-info
						+e.P.item-name Elena Serkova
						+e.P.item-info Отзыв из соц.сети ВКонтакте
				+e.item-content
					p Спасибо огромное за такой труд и такое открытие для меня! Я очень верю, что эти открытия и выход из моей ситуации(“двери” и борьба с установками) кардинально изменят мою жизнь! Я увидела решение многих гнетущих и раздражающих меня вещей, я очень хочу поменять все на практике и закреплять постоянно, давая право себе и другим жить без страха делать ошибки, не съедая себя и других за каждый промах..

			+e.item
				+e.item-header
					+e.item-header-image-outer
						img(src="img/rev-gluh.jpg")
					+e.item-header-info
						+e.P.item-name Мария Глуханькова
						+e.P.item-info Отзыв из соц.сети ВКонтакте
				+e.item-content
					p Спасибо большое за курс! Очень понравился. Теоретически теперь понятно, как определить личные границы. Надо только научиться их правильно отстаивать на практике)))) Марк дал простые и действенные инструменты, как поменять свою жизнь.
					p Я вспомнила слова Марка до курса, о том, что наша жизнь круто поменяется, если мы будем следовать всем рекомендациям курса. И это уже начинает чувствоваться.
					p Пока эмоционально. Осталось все это воплотить. Если работать над собой, обязательно все получится! Спасибо еще раз огромное, Марк, Юлия, Елена!

			+e.item
				+e.item-header
					+e.item-header-image-outer
						img(src="img/rev-check.jpg")
					+e.item-header-info
						+e.P.item-name Наталья Чекалина
						+e.P.item-info Отзыв из соц.сети ВКонтакте
				+e.item-content
					p Огромное спасибо за курс. Слушали вместе с 22-х летней дочерью. Практика с “дверьми” - это шедевр!!! Все как-то в голове разложилось по полочкам. И “колесо”..
					p Оказывается, не так уж и сложно позволить себе иногда сходить в театр или кино, в выходной день покататься на роликах, а летом выбраться с друзьями в поход с ночовкой. И обязательно попробовать порисовать!!!! Спасибо огромное!!! Главное - не лениться. Для самой себя часто не хочется напрягаться. А нужно! Я у себя одна!