+b.SECTION.review
	.container
		.section__header
			h3.section__title Отзывы
		.owl-carousel#review-slider
			+e.item
				+e.item-header
					+e.item-header-image-outer
						img(src="img/rev-schevoda.jpg")
					+e.item-header-info
						+e.P.item-name Алена Шведова
						+e.P.item-info Отзыв из соц.сети  ВКонтакте
				+e.item-content
					p Хорошее дело делаете!!! Вы меня окрылили!!! У меня где-то было подсознательно, где-то очень глубоко сидело, что я должна смело выбирать мужчин и не боятся осуждений со стороны, что я встречаюсь то с одним то с другим((у меня на этом этапе все останавливалось, потому что мне говорили надо брать первого попавшегося, тебе же уже столько лет ты больше никого не встретишь, мужчин так мало, их уже разобрали, остались одни неудачники и так далее. Только попался кандидат я полностью погружалась в него(( мне кажется я даже заставляла нейти в нем что то хорошее полюбить это и жить с этим!!! Я его слепила из того что было, а потом что было то и полюбила(((
					p Теперь точно все пойдет по-другому!! У меня появилось чувство свободы, легкости и теперь я буду думать сама и принимать решение сама!!! И не боятся, что кто скажет обо мне, что я что то делаю не так!!! Я имею право на выбор! Как же это здорово!!! Спасибо большое всей команде и конечно Марк, Вам!!!
				+e.item-footer
					+e.BUTTON.item-link Читать подробнее
			+e.item
				+e.item-header
					+e.item-header-image-outer
						img(src="img/rev-schevoda.jpg")
					+e.item-header-info
						+e.P.item-name Алена Шведова
						+e.P.item-info Отзыв из соц.сети  ВКонтакте
				+e.item-content
					p Хорошее дело делаете!!! Вы меня окрылили!!! У меня где-то было подсознательно, где-то очень глубоко сидело, что я должна смело выбирать мужчин и не боятся осуждений со стороны, что я встречаюсь то с одним то с другим((у меня на этом этапе все останавливалось, потому что мне говорили надо брать первого попавшегося, тебе же уже столько лет ты больше никого не встретишь, мужчин так мало, их уже разобрали, остались одни неудачники и так далее. Только попался кандидат я полностью погружалась в него(( мне кажется я даже заставляла нейти в нем что то хорошее полюбить это и жить с этим!!! Я его слепила из того что было, а потом что было то и полюбила(((
					p Теперь точно все пойдет по-другому!! У меня появилось чувство свободы, легкости и теперь я буду думать сама и принимать решение сама!!! И не боятся, что кто скажет обо мне, что я что то делаю не так!!! Я имею право на выбор! Как же это здорово!!! Спасибо большое всей команде и конечно Марк, Вам!!!
				+e.item-footer
					+e.BUTTON.item-link Читать подробнее
			+e.item
				+e.item-header
					+e.item-header-image-outer
						img(src="img/rev-schevoda.jpg")
					+e.item-header-info
						+e.P.item-name Алена Шведова
						+e.P.item-info Отзыв из соц.сети  ВКонтакте
				+e.item-content
					p Хорошее дело делаете!!! Вы меня окрылили!!! У меня где-то было подсознательно, где-то очень глубоко сидело, что я должна смело выбирать мужчин и не боятся осуждений со стороны, что я встречаюсь то с одним то с другим((у меня на этом этапе все останавливалось, потому что мне говорили надо брать первого попавшегося, тебе же уже столько лет ты больше никого не встретишь, мужчин так мало, их уже разобрали, остались одни неудачники и так далее. Только попался кандидат я полностью погружалась в него(( мне кажется я даже заставляла нейти в нем что то хорошее полюбить это и жить с этим!!! Я его слепила из того что было, а потом что было то и полюбила(((
					p Теперь точно все пойдет по-другому!! У меня появилось чувство свободы, легкости и теперь я буду думать сама и принимать решение сама!!! И не боятся, что кто скажет обо мне, что я что то делаю не так!!! Я имею право на выбор! Как же это здорово!!! Спасибо большое всей команде и конечно Марк, Вам!!!
				+e.item-footer
					+e.BUTTON.item-link Читать подробнее