+b.SECTION.side.section
	.container
		.section__header
			h3.section__title Посмотри на себя со стороны…
			h4.section__subtitle Тебя устраивает то, что ты видишь?

		.row
			+e.item.col-12.col-sm-6
				+b.UL.list._line
					li
						strong Что у тебя с личной жизнью? 
						| Достойный ли мужчина рядом с тобой? Как он к тебе относится? Стал ли он заботливее, внимательнее, нежнее? Или ты до сих пор размениваешься на краткосрочные отношения?...
			
			+e.item.col-12.col-sm-6
				+b.UL.list._line
					li
						strong Насколько хорошо ты знаешь себя?
						| Ты понимаешь чего хочешь от жизни, от карьеры, от мужчин? Ты достаточно уверена в себе, чтобы пойти и взять то что хочешь? Или ты занимаешься бесконечным самокопанием и боишься даже задуматься о том, чтобы получать всё самое лучшее?...
			
			+e.item.col-12.col-sm-6
				+b.UL.list._line
					li
						strong Насколько яркая твоя жизнь? 
						| Когда в последний раз ты делала что-то сумасшедшее? Когда в последний раз выходила за хлебом и оказывалась в другом городе? Или посиделки с подругами в кафе - предел оригинальности твоего досуга?...

			+e.item.col-12.col-sm-6
				+b.UL.list._line
					li
						strong Ты реализована в любимом деле? 
						| Тебе нравится то, что ты делаешь? Или каждый день по накатанной: проснулась, накрасилась, отсидела в офисе, вернулась домой и без сил упала на диван?...
			
			+e.item.col-12.col-sm-6
				+b.UL.list._line
					li
						strong Становишься ли ты лучше каждый день? 
						| Раскрываешь ли свою женственность, привлекательность? Имеешь ли интересные хобби? Осваиваешь ли какие-то полезные навыки?...

			+e.item.col-12.col-sm-6
				+b.UL.list._line
					li
						strong Какие люди тебя окружают? 
						| С ними можно отправиться в кругосветное путешествие, достать звезду с неба, сняться в Голливудском фильме? Или всё что ты слышишь от них это: “успокойся… сиди тихо… подумай о семье, тебе же скоро ХХ лет…”?