+b.SECTION.sphere.section
	.container.section__header
		h3.section__title.sphere__title Этот курс направлен на комплексную проработку 
			br
			| 5 сфер жизни настоящей Женщины
			
	+e.content.flex
		+e.item
			+e.IMG.item-image(src="img/sphere-1.jpg")
			+e.item-content
				p Личная
					br
					| жизнь
		+e.item._active
			+e.IMG.item-image(src="img/sphere-2.jpg")
			+e.item-content
				p Карьера /
					br
					| бизнес
		+e.item
			+e.IMG.item-image(src="img/sphere-3.jpg")
			+e.item-content
				p Досуг /
					br
					| lifestyle
		+e.item
			+e.IMG.item-image(src="img/sphere-4.jpg")
			+e.item-content
				p Личностный
					br
					| рост
		+e.item
			+e.IMG.item-image(src="img/sphere-5.jpg")
			+e.item-content
				p Окружение