+b.SECTION.sphere.section
	.container
		.section__header
			h3.section__title.sphere__title Этот курс направлен на комплексную проработку 
				br
				| 6 сфер жизни настоящей Женщины
		+e.content.flex
			.col-12.col-sm-6.col-md-4
				+e.item
					+e.item-header
						+e.IMG.item-image(src="img/improve-1.jpg")
					+e.item-content
						p Личная жизнь
			.col-12.col-sm-6.col-md-4
				+e.item._active
					+e.item-header
						+e.IMG.item-image(src="img/improve-2.jpg")
					+e.item-content
						p Карьера / бизнес

			.col-12.col-sm-6.col-md-4
				+e.item
					+e.item-header
						+e.IMG.item-image(src="img/improve-6.jpg")
					+e.item-content
						p Целостность / согласие с собой
			
			.col-12.col-sm-6.col-md-4
				+e.item
					+e.item-header
						+e.IMG.item-image(src="img/improve-4.jpg")
					+e.item-content
						p Личностный рост
			.col-12.col-sm-6.col-md-4
				+e.item
					+e.item-header
						+e.IMG.item-image(src="img/improve-5.jpg")
					+e.item-content
						p Окружение
			
			.col-12.col-sm-6.col-md-4
				+e.item
					+e.item-header
						+e.IMG.item-image(src="img/improve-3.jpg")
					+e.item-content
						p Досуг / lifestyle