+b.SECTION.themes.section#section-programm
	.container
		.section__header
			h3.section__title.themes__title Какие темы, практики и упражнения 
				br
				| ждут тебя на курсе
		+e.body
			+e.content.flex
				+e.part._1
					+e.UL.part-list
						li Знакомство с настоящим "я"
						li Постановка цели
						li Маркеры перемен
						li Поиск потенциала
						li Смена парадигмы - "быть или казаться"
						li Трансформация установок
						li Методика формирования желаний
						li Тестируем эмоциональный интеллект
						li Учимся распознавать эмоции
						li Расставляем границы
						li Проработка детских психотравм
						li Проработка защитных механизмов
						li Отпускаем прошлый опыт
						li Этапы здорового психологического развития
						li Освобождение от созависимости
						li Фундамент здоровой самооценки
						li Арт-терапия
				+e.part._2
					+e.UL.part-list
						li Иерархия здоровых потребностей
						li Жить здесь и сейчас
						li "Нет" чувству вины
						li Формируем новые паттерны поведения
						li Диагностика жизненных сфер
						li План личностного роста
						li Практика - "стань лучшей версией себя"
						li Ситуационные задачи
						li Прорабатываем проекции
						li Формируем уверенность
						li Избавляемся от сомнений
						li Принимаем решения
						li Самооценка и тело
						li Телесная топография
						li Здоровый взгляд на реальность
						li Доверяем своим чувствам
						li Создаем якоря спасения
						li Создаем мощный аудио/видео маркер
			+e.body-end
				+e.BUTTON.body-button(data-close="Скрыть" data-open="Читать подробнее") Читать подробнее
		+e.footer
			+b.BUTTON.btn._lg._brand-1.effect._bounce-top(data-action="modal" data-open="#modal-form") Стать лучшей версией себя