+b.SECTION.attention._together
	.container
		+e.header
			h3.section__title Вместе развиваться эффективнее и веселее!
			h4.section__subtitle Приводи подругу и проходите курс вдвоем по специальной цене
		+e.P.price-old.title-sm 10 000 руб.
		+e.P.price-new.section__title 5900 руб.
		+e.button-outer
			+b.BUTTON.btn._lg._brand-1.effect._bounce-top(data-action="modal" data-open="#modal-form") участвовать вдвоем
		+e.warning
			p * Ты платишь всего 5900 руб., вместо обычных 10 000 руб.