+b.SECTION.trener#section-trener
	+e.header
		.container
			h3.section__title Курс ведет
	.container
		+e.row.row
			.col-12.col-sm-6.col-md-4
				+e.image
					img(src="img/intro-image.jpg")
			.col-12.col-sm-6.col-md-7
				+e.P.name Марк Бартон
				+e.content
					+e.P.description Кризисный семейный консультант, психолог, коуч. Автор и ведущий тренингов по психологии взаимоотношений полов
					+e.UL.list.list._quadro
						li Окончил Высшую школу теологии Brooklyn School Theology, где изучал психологию влияния религиозных конфессий на мировые культуры
						li Окончил "Московский Государственный Гуманитарный Университет им. М. А. Шолохова”, где освоил профессию психолога
						li Окончил “Европейский Институт Христианской Психологии”, специализация - психология семейных отношений
						li Последние 5 лет Марк консультирует звездные и политические семейные пары, ведет авторские тренинги по взаимоотношениям полов
						li Более 500 учениц прошли его флагманский курс “Я - Женщина!” и запустили качественные изменения во всех сферах своей жизни
						li Выпускницы курсов Марка отмечают его легкую подачу на первый взгляд сложного материала, упор на практику и контроль результата каждой ученицы
						li Частый гость на радио и ТВ. К его советам прислушиваются зрители «Первого Канала», «России 1», «НТВ», “ТВЦ”, “СПАС”