+b.SECTION.variant.section
	.container
		.section__header
			h3.section__title Выбери свой вариант участия в курсе
		+e.content.row
			+e.item.col-12.col-sm-6
				+e.item-inner
					+e.P.item-title Standart
					+e.UL.item-list.list
						li Ежедневные упражнение и задания от Марка Бартона и экспертов курса
						li.b 5 вебинаров “Вопрос-Ответ” с Марком Бартоном
						li Закрытая группа, чат для общения, мотивации и поддержки
						li.b Поддержка персонального куратора при возникновении вопросов с заданиями
						li Доступ ко всем записям и дополнительным материалам курса в закрытой группе
						li 
							span.b Бонусный набор мастер-классов и психологических практикумов: 
							| "Психология судьбы", "Дочки матери. Проработка родительских отношений”, "Он и она. Любить правильно”, "Мотивируй и заряжай", "Я такая одна" и PROLOVE
					+e.P.item-price-old 5 000 руб.
					+e.P.item-price-new 3 900 руб.
					+e.item-footer
						+e.BUTTON.item-btn.btn._lg._border-brand-1.effect._bounce-top(data-action="modal" data-open="#modal-form") пакет Standart
			+e.item._vip.col-12.col-sm-6
				+e.item-inner
					+e.IMG.item-image(src="img/variant-vip.png")
					+e.P.item-title VIP
					+e.P.item-subtitle Всё что входит в пакет Standart + 
					+e.UL.item-list.list
						li Индивидуальное консультирование 
							br
							| Марка Бартона - 3 консультации по 90 
							br
							| минут каждая
						li Подписка на 3 вебинара Марка с годовым 
							br
							| доступом к записи
					+e.P.item-price-old 30 000 руб.
					+e.P.item-price-new 15 000 руб.
					+e.item-footer
						+e.BUTTON.item-btn.btn._lg._brand-1.effect._bounce-top(data-action="modal" data-open="#modal-form") пакет VIP