.list
	&_line
		li
			padding-left: 45px

			&:after
				top: 15px
				left: 0
				+size(30px, 1px)
				background-color: $color-brand-1

			+min(md)
				padding-left: 75px

				&:after
					width: 60px