.attention
	
	background-color: $color-general
	color: $color-white
	text-align: center
	
	+padding-y(30px)
	+min(md)
		+padding-y(60px)

	&__content

		+min(md)
			+margin-x(auto)
			width: 80%

	&__title
		color: $color-brand-1
		+font('pb')

	&__header
		margin-bottom: 30px

		+min(md)
			margin-bottom: 50px

	&__price

		&-old
			text-decoration: line-through
			margin-bottom: 5px
			color: $color-white
			opacity: 0.4

		&-new
			margin-bottom: 30px
			color: $color-brand-1
			+font('pb')

	&__button-outer
		+margin-y(30px)

	&__warning
		font-size: 16px

	// modifications

	&_together
		+bg('../img/attention-together.jpg')

	&_change
		+bg('../img/attention-change.jpg')