.curator
	padding-top: 45px
	border-top: 1px solid $color-brand-3
	
	+min(sm)
		padding-top: 70px

	&__content

		+min(sm)
			justify-content: space-between

	&__item

		+max(sm)
			+offset()

		&-header

			+relative()
			
			margin-bottom: 40px
			height: 200px

			+min(sm)
				height: 250px

			+min(md)
				height: 300px

			+min(lg)
				height: 350px

			&:before
				content: ""
				+absolute(null, null, -25px, -10px)
				+size(50px)
				border: 10px solid $color-brand-1

				+min(sm)
					bottom: -25px
					left: -45px
					+size(70px)
					border-width: 15px

		&-image
			+size(100%)
			object-fit: cover

		&-title
			line-height: 1
			margin-bottom: 10px
			font-size: 20px
			+font('pb')

			+min(sm)
				font-size: 22px

			+min(md)
				font-size: 25px

		&-content
			line-height: 1.2
			font-size: 15px