.greeting
	+relative()
	z-index: 1
	+padding-y(50px, 75px)

	background-color: #101a20
	color: $color-white
	
	+min(sm)
		+padding-y(150px, 55px)

	@at-root
		%relative
			+relative()

		%db
			display: block

		%font-bold
			+font('pb')

	&__bg
		+absolute(0, 0)
		+size(100%)
		z-index: -1

		+max(sm)

			&:before
				content: ""
				+absolute(0, null, null, 0)
				+size(100%)
				background-color: transparentize($color-black, 0.3)

		+min(sm)
			+size(45%, 85%)

		img
			object-fit: cover
			+size(100%)

	&__first-letter
		margin-bottom: -35px

		font-size: 100px
		line-height: 1
		color: $color-brand-1

		z-index: -1
		@extend %db, %relative, %font-bold

		&:before
			content: ""
			+absolute(-20px, null, null, 0)
			+size(68px, 42px)
			+bg('../img/queen.png')

		+min(sm)
			margin-bottom: -55px
			font-size: 130px

			&:before
				top: -31px
				+size(99px, 62px)

		+min(md)
			font-size: 160px

			&:before
				+size(110px, 69px)

		+min(lg)
			margin-bottom: -55px
			font-size: 146px

			&:before
				+size(99px, 61px)

	&__content

		margin-left: 45px

		+min(sm)
			margin-left: 55px
		
		+min(md)
			margin-left: 75px

		+min(lg)
			margin-left: 70px


	&__title
		margin-bottom: 25px
		line-height: 1

		&-first
			@extend %db, %font-bold
			
			font-size: 40px
			color: $color-white

			+min(sm)
				font-size: 50px

			+min(md)
				font-size: 60px

			+min(lg)
				font-size: 73px

		&-last
			@extend %db
			font-size: 15px
			color: $color-brand-1
			+font('l')

	&__subtitle
		+relative()
		padding-bottom: 20px
		margin-bottom: 20px

		+font('cr')
		font-size: 25px
		font-weight: normal
		line-height: 1.1

		&:before
			content: ""
			+absolute(null, null, 0, 0)
			+size(200px, 1px)
			background-color: transparentize($color-white, 0.8)

		+min(sm)
			font-size: 27px

		+min(md)
			font-size: 30px

		+min(lg)
			font-size: 36px


		&-highlight

			+relative()
			display: inline-block
			z-index: 1
			

			+font('cb')

			&:before
				content: ""
				+absolute(null, null, 5px, 0)
				+size(100%, 3px)
				background-color: $color-brand-1
				z-index: -1

				+min(sm)
					height: 7px

	&__warning

		margin-bottom: 15px

	&__highlight
		margin-bottom: 30px
		font-size: 20px
		line-height: 1.1
		color: $color-brand-2
		+font('pb')

		+min(sm)
			font-size: 22px

		+min(md)
			font-size: 24px

	&__course
		max-width: 270px
		color: $color-white

		+max(sm)
			margin-left: -45px

		+min(md)
			+absolute(null, 0, 0, null)
			min-width: 350px

		@at-root
			%bg
				background-color: $color-brand-2

		&-header
			padding: 15px
			@extend %bg

			&-icon,
			&-title
				vertical-align: middle

			&-title
				font-size: 15px
				padding-left: 15px

				+min(sm)
					font-size: 17px
					padding-left: 45px

		&-content
			padding-left: 55px

			&-body
				display: flex
				@extend %bg

				&-item
					flex-basis: 50%
					text-align: center

					+padding-y(45px)

					&_divider
						+relative()

						&:before
							content: ""
							+absolute(15px, 0)
							+size(1px, 100%)
							background-color: $color-white

					&-title
						+font('pb')
						font-size: 55px
						line-height: 1

					&-subtitle
						font-size: 21px
						line-height: 1

	&__button-outer

		margin-top: 30px