.improve

	&__item

		+offset()

		&-image
			max-height: 180px
			margin-bottom: 20px

		&-content
			+relative()

			+min(sm)
				padding-left: 45px

				&:before
					content: ""
					+absolute(11px, null, null, 0)
					+size(30px, 1px)
					background-color: $color-brand-1

		&-title
			margin-bottom: 10px
			font-size: 20px
			line-height: 1.1
			+font('pb')

		&-list

			font-size: 16px

			li
				padding-left: 15px
				&:after
					content: "+"
					top: 2px
					left: 0
					font-size: 17px
					color: $color-brand-1