.themes
	background-color: $color-general
	+padding-y(45px)

	+min(md)
		+padding-y(60px)

	&__title
		color: $color-white

	&__body
		background-color: $color-white
		margin-bottom: 30px

		+min(sm)
			margin-bottom: 45px

		&-end
			display: none
			background-color: #f6f6f6
			text-align: center
			+padding-y(15px)

			+min(sm)
				display: block

		&-button
			border: none
			background-color: transparent
			display: inline-block
			+font('pb')
			font-size: 17px
			color: $color-brand-2
			border-bottom: 1px solid $color-brand-2
			outline: none

			+transition()

			&:hover
				color: $color-brand-1
				border-bottom-color: $color-brand-1

	&__content

		+min(sm)
			height: 410px
			overflow: hidden

	&__part
		padding: 30px 20px
		flex-basis: 100%

		+min(sm)
			
			flex-basis: 50%

		+min(md)
			padding: 30px 15px

		+min(lg)
			padding: 30px
		
		&-list
			list-style: none
			li
				margin-bottom: 5px
				padding: 2px 10px
				font-size: 16px

				&.marker
					+relative()

					&:before
						content: '➤'
						+absolute(3px, null, null, -17px)
						font-size: 14px
						+font('pb')
						color: $color-brand-1

						+min(sm)
							left: -20px

		&_1
			background-color: $color-white

		&_1 &-list
			li
				&:nth-child(odd)
					color: $color-white
					background-color: $color-brand-2

		&_2
			background-color: $color-brand-2

		&_2 &-list
			li
				color: $color-white
				&:nth-child(odd)
					color: $color-general
					background-color: $color-white

	&__footer
		text-align: center