extends /site/docs/extends/layout
block variables
	- var title = 'Unit Test - Title';
block intro
	+docs-intro('Title', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos ipsa repellat quia totam ab doloribus!')
block content
	+e.group
		+b.H4.title-xs Title Extra Small
		+docs-code('pug')
			| +b.H4.title-xs Title Extra Small
	+e.group
		+b.H4.title-sm Title Small
		+docs-code('pug')
			| +b.H4.title-sm Title Small
	+e.group
		+b.H4.title-md Title Medium
		+docs-code('pug')
			| +b.H4.title-md Title Medium
	+e.group
		+b.H4.title-lg Title Large
		+docs-code('pug')
			| +b.H4.title-lg Title Largessss