+add-meta(title, description, url, image)
meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no')
meta(http-equiv='X-UA-Compatible' content='IE=edge')

meta(name='HandheldFriendly' content='true')
meta(name='MobileOptimized' content='width')


meta(name='format-detection' content='telephone=no')
meta(name='format-detection' content='address=no')