extends /extends/layout
block variables
	- var title = 'Gulp Pro Starter Template';
	- var description = 'Gulp Pro Starter Template - Description';
	- var url = '';
	- var image = 'img/logo.png';

block nav
	include /components/nav
block content
	include /components/header