extends /extends/layout
block variables
	- var title = 'Я - Женщина! Комплексная программа по формированию личности женщины';
	- var description = 'Флагманский курс Марка Бартона, 30-ти дневная онлайн программа. Как стать уверенней в себе, избавиться от страхов, обид и обрести внутреннюю гармонию';
	- var url = '';
	- var image = 'img/logo.png';

block nav
	include /components/nav
block content
	include /sections/greeting
	include /sections/intro
	include /sections/side
	include /sections/attention-1
	include /sections/meet
	include /sections/sphere
	include /sections/features
	include /sections/format
	include /sections/curator
	include /sections/themes
	include /sections/improve
	include /sections/variant
	include /sections/together
	include /sections/reviews
	include /sections/trener
	include /sections/change
	include /components/footer