-
	const navigation = [
		{
			name: 'Программа',
			link: '#section-programm'
		},
		{
			name: 'Кто ведет',
			link: '#section-trener'
		},
		{
			name: 'Отзывы',
			link: '#section-reviews'
		}
	];