+b('nav')
	$self: &

	+e("addition")
		+relative

		+ee("link")
			display: block
			color: inherit
			text-decoration: none
			color: $color-black
			font-weight: bold


		+ee("toggle")
			+relative

			display: block
			-webkit-tap-highlight-color: transparent
			outline: none
			
			cursor: pointer
			z-index: 1

			span
				+relative
				display: inline-block
				vertical-align: middle

				+size(5px)
				margin-right: 5px
				border-radius: 100%
				background-color: $color-white

				&:last-child
					margin-right: 0


		+max(md)
			text-align: right

			&:before
				content: ''

				+absolute(-15px, 0)
				+size(56px)
				background-color: darken($color-responsive-menu, 15%)
				opacity: 0

				+transition

			&.active
				&:before
					opacity: 1

			&-links
				+absolute(40px, 0)
				min-width: 180px
				padding: 15px
				background-color: $color-responsive-menu
				transform: translateZ(0) translateX(120%)

				+transition

			&.active &-links
				transform: none

			&-link
				color: $color-white
				font-size: 14px


		+min(md)
			text-align: right

			&-toggle,
			&-link_hidden
				display: none