+b.modal#modal-form
	+e.box._medium
		+e.header
			+e.P.title Записаться на курс
			+e.BUTTON.close(data-close="modal") &times;
		+e.body
			script(type="text/javascript" async="async" defer="defer" charset="UTF-8" src="https://timepad.ru/js/tpwf/loader/min/loader.js" data-timepad-customized="35617" data-twf2s-event--id="754125" data-timepad-widget-v2="event_register")

+b.modal#modal-video
	+e.box._medium
		+e.header
			+e.BUTTON.close(data-close="modal") &times;
		+e.body
			+e.IFRAME.iframe(width="100%" src="https://www.youtube.com/embed/7nnm4iANWWU?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)